* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}
.logo{
    font-size: 45px;
    font-weight: extra-bold;
}
.orange{
    color: #FD6E0A;
}
.btn{
    background: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-size: bold;
    cursor: pointer;
}
header{
    background: #FFF8F3;
}
nav {
   width: 71%;
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
    align-items: center;
}
nav .menu {
    display: flex;
    list-style-type: none;
    gap: 51px; 
    align-items: center;  
}
nav .menu a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}
#banner{
    margin: 47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content  {
    max-width: 585px;

}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: semi-bold;
    color: #474747;
    margin-bottom: 5px;

}
#banner .banner-content h1 {
    font-size: 85px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom:30px;
}
#banner .banner-image img {
    width: 584px;
    vertical-align: middle;
    
}

